<?xml version="1.0"?>
<launch>

    <env name="GAZEBO_MODEL_PATH" value="$(find autocar_ros)/models:$(optenv GAZEBO_MODEL_PATH)"/>

    <!-- Start Gazebo with empty world --> 
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find autocar_ros)/worlds/warehouse.world"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- Load robot description from xacro -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find autocar_ros)/urdf/autocar_ros.xacro'"/>

    <!-- Spawn robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model car -x 0 -y 0 -z 0.1" output="screen"/>

   <!-- RViz visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autocar_ros)/rviz/car.rviz"/>

    <!-- Control node -->
    <node name="manual_drive_node" pkg="autocar_ros" type="car_drive.py" output="screen" launch-prefix="xterm -e python3"/>

    <!-- Publish joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="10" />
    </node>
    
    <!-- Robot state publisher with proper rate -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
